# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
.DS_Store
.env
.venv
node_modules
_book

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# stuff for mkdocs merge
aida-cpd3-local-db2.txt
flaskapp/.Python
flaskapp/bin/
flaskapp/include/
flaskapp/lib/
flaskapp/venv/
gg-6-8
gitlog-6-8
notebooks/orig.ipynb
orig.md
workshop/admin-guide/DigiCertGlobalRootCA.crt
workshop/admin-guide/DigiCertGlobalRootCA.pem
workshop/admin-guide/Organize-Experience-Run-Book.docx
workshop/admin-guide/cmd.txt
workshop/admin-guide/gitblameReadme.txt
workshop/images/
workshop/machine-learning-deployment-scoring/orig_README.md
workshop/orig_SUMMARY.md

